.postCardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tag {
  padding: 5px;
  background-color: red;
  color: white;
}

.interactions {
  display: flex;
  justify-content: center;
}