.uploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.image {
  display: flex;
  flex-direction: column;
}

.image input {
  visibility: hidden;
}

.image img {
  width: 200px;
}