.uploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.contentType {
  display: flex;
  font-weight: bold;
}

.contentType>div:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 10px;
  border: 2px solid red;
}

.contentType>div:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 10px;
  border: 2px solid red;
}

select {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: transparent;
}