.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.modalContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 300px;
  max-width: 90%;
  max-height: 80%;
  background-color: whitesmoke;
  box-shadow: 10px 10px 15px gray;
  border-radius: 30px;
  overflow-y: scroll;
}

.modalContent::-webkit-scrollbar {
  display: none;
}

.modalContent>button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-right: auto;
  border: none;
}

.modalContent>button img {
  width: 30px;
}